:root {
  --color-text: #141823;
  --color-background: #ffffff;
  --color-text-dark: #ffffff;
  --color-background-dark: #141823;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Playfair Display", serif;
}

html {
  font-size: 16px;
}

/* Older browsers */
body {
  color: var(--color-text);
  background-color: var(--color-background);
}

/* @media (prefers-color-scheme: dark) {
  body {
    color: var(--color-text-dark);
    background-color: var(--color-background-dark);
  }
} */

/* Modern browsers only need this one */

@media screen and (min-width: 25em) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
  }
}

/* Safari <8 and IE <11 */
@media screen and (min-width: 25em) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
  }
}
@media screen and (min-width: 50em) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
  }
}

div#bodycontainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  div#bodycontainer {
    padding: 0 1rem;
  }
}

main {
  flex-grow: 1;
}

h1 {
  font-family: "Amiri", serif;
}

header,
main,
footer {
  flex-shrink: 0;
}
